.col-xs-1-5,
.col-sm-1-5,
.col-md-1-5,
.col-lg-1-5 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-1-5 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-1-5 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-1-5 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-1-5 {
        width: 20%;
        float: left;
    }
}


ul {
    margin:0;
    padding: 0;
    list-style: none;
}

body, html {
    font-family: 'Archivo Narrow';
}

/* ===================== HEADER ======================*/
header {
    background: #FFFFFF;
    position: fixed;
    left: 0;
    top:0;
    right: 0;
    z-index: 999;
}
.logo {
    width: 100%;
    max-width: 260px;
}

.navbar-header {
    width: 25%;
    align-self: center;
}
.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-align: center;
}

.nav > li {
    display: flex;
    flex: 1;
    justify-content: center;
    background: #fff;
    flex-direction: column;

}
.nav > li:first-child > a {
    border-left: 1px solid #e1e1e1;
}

.nav > li > a {
    width: 100%;
    color: #c2c2c2;
    font-size: 15px;
    border-right: 1px solid #e1e1e1;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0;
    padding: 45px 0;
    height: 100%;
}

.item-menu:focus {
    outline: none;
}
.nav>li>a:focus, .nav>li>a:hover {
    background: #d74340;
    outline: none;
    color: #fff;
    border: transparent;
}

 .nav .open>a:focus, .nav .open>a:hover, .nav > li.open >a {
     background-color: #d74340;
     border: transparent;
}


.nav > li.open >a {
    color: #fff;
}

.sub-indicator {
    display: block;
    width: 12px;
    height: 7px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 8px auto 0;
    overflow: hidden;
    background: url('img/subArrow.png');
}

.active-item-menu .sub-indicator {
    background-position: 0 18px;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    display: flex;
}


.nav > li.active-item-menu > a {
    color: #fff;
    border: 0;
    background: #d74340;
}

.dropdown .dropdown-menu {
    width: 100%;
    border: 0;
    box-shadow: none;
    padding: 0;
    min-width: inherit;
    border-radius: 0;
}


.dropdown-menu>li>a {
    padding: 15px 10px;
    text-transform: uppercase;
    color: #c2c2c2;
    border-bottom: 1px solid #f3f3f3;
    font-weight: 700;
    white-space: normal;
    text-align: center;
    letter-spacing: 0.5px;
}

.dropdown-menu>li:last-child >a{
    border-bottom: 0;
    border-radius: 0;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #fff;
    background: #d74340;
}

.navbar-toggle {
    border-radius: 0;
    margin-top: 34px;
    margin-right: -8px;
}

.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 7px;
}

.navbar-toggle .icon-bar {
    background: #d74340;
    width: 32px;
}

.navbar-brand {
    height: inherit;
}


/*========== SLIDER ============*/
main {
    margin-top: 110px;
}

.slider {
    position: relative;
    z-index: 2;
}

.slidesDescription {
    position: absolute;
    top: 33%;
    left: 18%;
    padding: 30px;
    background: rgba(0,0,0,0.6);
    border-left: 5px solid #d74340;
}

.slidesDescription h2 {
    font-size: 44px;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 20px;
    display: block;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
    margin-top: 0;
    margin-bottom: 10px;
}

.slidesDescription span {
    color: #bfbfbf;
    font-family: 'Archivo Narrow', sans-serif;
    font-style: italic;
    font-size: 25px;
    display: block;
    margin-bottom: 20px;
    text-shadow: 1px 1px 1px rgba(0,0,0, 0.35);
}

.customButton {
    color: #fff;
    padding: 12px 13px 11px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    border-radius: 3px;
}

.customButton:hover, .customButton:active, .customButton:focus {
    background: #d74340;
    text-decoration: none;
    color: #fff;
}

.slideLink {
    background: #5e5e5e;
    box-shadow: 1px 1px 1px rgba(0,0,0, 0.35);
    text-shadow: -1px -1px 1px rgba(0,0,0, 0.25);
    font-size: 18px;
}


.bx-wrapper {
    box-shadow: none;
    border: 0;
    max-height: 575px;
    overflow: hidden;
    margin-bottom: 0;
}


.bx-wrapper .bx-pager {
    position: absolute;
    bottom: 20px;
}

.bx-wrapper .bx-pager.bx-default-pager a{
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: #fff;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.4);
    cursor: pointer;
}


.bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus, .bx-wrapper .bx-pager.bx-default-pager a:hover {
    background:#e2001a;
}

.slide {
    height: 580px;
    background-size: cover;
    background-position: center center;
}

.slide1 {
    background-image: url("img/slider/slide3.jpg");
}

.slide2 {
    background-image: url("img/slider/slide1.jpg");
}
.slide3 {
    background-image: url("img/slider/slide2.jpg");
}
.slide4 {
    background-image: url("img/slider/slide4.jpg");
}

/*============= Carousel =============*/
.carousel {
    background: #e4e8ee;
}

.carousel-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;

}

.carousel-item {
    width: 20%;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    background: #fff;
    opacity: 0.65;
}

.carousel-item img {
    width: 100%;
}

.titleCarousel {
    color: #575757;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 400;
    border-bottom: 1px solid #d4d4d4;
    line-height: 40px;
    margin: 0;
    padding: 8px 18px;
}

.descCarousel {
    font-family: 'Archivo Narrow', sans-serif;
    font-style: italic;
    font-size: 15px;
    color: #8c8c8c;
    line-height: 22px;
    margin: 0;
    padding: 15px 18px;
}

.carousel-active-item {
    opacity: 1;
    background: #d74340;
}

.carousel-active-item .titleCarousel {
    background: #262729;
    color: #fff;
    border-bottom: 1px solid #000;
}

.carousel-active-item .descCarousel {
    color: #fff;
}


/*==============MEDIA ==========*/

@media (max-width: 767px) {
    header {
        box-shadow: 0 2px 20px rgba(0,0,0,0.3);
    }
    .logo {
        max-width: 200px;
    }

    .navbar-header {
        width: 100%;
    }

    .navbar-brand {
        padding: 15px 0;
    }

    .nav, .navbar {
        display: block;
        width: auto;
    }

    .nav > li > a {
        border: 0;
    }

    .dropdown-menu>li>a {
        border: 0;
    }

    .dropdown-menu>li>a {
        background: #f3f3f3;
    }

    .nav > li > a {
        padding: 20px 0;
    }

    .navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu>li>a {
        padding: 15px 15px 15px 25px;
        border-bottom: 1px solid #fff;
    }

    .sidebar {
        position: fixed;
        top: 80px;
        height: 100%;
        width: 300px;
        max-width: 100%;
        background: #fff;
        right: -300px;
        transition: all 0.5s ease-in-out;
        z-index: 0;
    }

    .nav-opened .sidebar{
        right: 0;
    }
    .nav > li.active-item-menu > a,  .nav > li > a {
        background: transparent;
        color: #c2c2c2;
        border-bottom: 1px solid rgba(194, 194, 194, 0.25);
        padding-left: 20px;
    }

    .nav {
        text-align: left;
    }

    .sub-indicator, .active-item-menu .sub-indicator {
        width: 12px;
        height: 11px;
        right: -190px;
        margin: -15px auto 0;
        background-position:  bottom right;
    }

    .dropdown-menu>li>a {
        text-align: left;
    }
    .nav > li.active-item-menu.open > a {
        color: #fff;
    }

    .item-menu.open .sub-indicator {
        background-position: 0px 18px;
        height: 7px;
        margin-top: -13px;
    }

    .overlay-sidebar {
        position: fixed;
        top: 89px;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.6);
        display: none;
        z-index: 5;
        transition: all 0.3s ease-in-out;
    }
    .nav-opened .overlay-sidebar {
        display: block;
    }

    .nav-opened .icon-bar {
        background: #000;
    }

    .slidesDescription {
        top: 10vh;
        left: 20px;
        right: 20px;
    }

    .slidesDescription h2 {
        font-size: 28px;
    }

    .slidesDescription span {
        font-size: 20px;
    }

    .slide {
        height: calc(100vh - 85px);
    }

    .nav {
        box-shadow: inset  0 1px 5px rgba(6,7,7,0.4);
    }

    main {
        margin-top: 88px;
    }
}
